@page
@model IndexModel
@{
    ViewData["Title"] = "Home page - GIT HUB";
}

<div class="text-center">
    <h1 class="display-4">Welcome to GitHub Version 2 - Lab AZ-204 - Vidal</h1>
    <h1 class="display-4">Utilizando Azure Cli e buscando uma página Web de um repositório</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
